
img{
    width: auto;
}
h6{
    font-weight: bold;
}


.product{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 185px;
}
.product .product-img{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.activ-img{
    width: 65%;
    /* width: inherit; */
}
.img-items{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
}
.img-items img{
    width: 20%;
    cursor: pointer;
    border-radius: 5px;
}

/* ----------about-prod -------- */
.about-prod{
    width: 45%;
    padding: 10px;
    text-align: start;
}
.about-prod img{
    width: auto;
    margin-left: 11px;
}
.about-prod .star{
    display: flex;
    height: 30px;
}
.about-prod .star .fa-solid{
    color: #FFB900;
}
.about-prod .star div{
    margin-right: 10px;
}
.about-prod .total{
    display: ruby;
}
.about-prod .total h3{
    color: #542E90;
    margin-right: 10px;
}
.about-prod .total .off-total{
    padding: 2px 5px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #FFF100;
    margin-left: 10px;
}
.about-prod .size{
    padding: 5px 0;
}
.about-prod .size ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.about-prod .size ul li{
    background-color: #adb5bd;
    border-radius: 50px;
    width: 70px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.about-prod .prev-quantity{
    padding: 5px 10px;
    border: none;
    background-color: #FFB900;
    border-radius: 50%;
}
.about-prod .quantity div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}
.about-prod .btn-quantity{
    height: 54px;
    display: flex;
    align-items: flex-end;
}
.about-prod .btn-quantity button{
    width: 175px;
    padding: 5px;
    border-radius: 50px;
    margin-right: 10px;
border: none;
}

.color{
    height: 125px;
}